global
        maxconn 4096                    # giới hạn kết nối đến Proxy
        daemon
        log 127.0.0.1   local0
        log 127.0.0.1   local1 notice
defaults
        timeout connect 10s
        timeout client 30s
        timeout server 30s

        log global
        mode http                           # mode tcp
        option httplog                      # option tcplog
        maxconn 3000
        stats enable
listen stats
        bind *:8900
        mode http
        option forwardfor
        option httpclose
        stats enable
        stats refresh 5s
        stats hide-version
        stats uri /stats
        stats admin if LOCALHOST
        stats auth trandat:45rtfgvb
frontend http-in
        bind *:80
        option http-server-close
        option forwardfor
        use_backend backend_1
backend backend_1
        balance roundrobin 
        option httpclose
        option forwardfor
        option httpchk
        server server1 192.10.0.2:80 check weight 2
        server server2 192.20.0.2:80 check weight 4
        server server3 192.30.0.2:80 check weight 4